.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.2rem;
  width: 80%;
  max-width: 37.5rem;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0rem 1rem;
  background-color: #f5f5f5;
  border: 1px solid var(--grayBorder);
  height: 2rem;
}
.modal-header h2 {
  font-size: 0.9rem;
  color: var(--darkTexColor);
}
.close-button {
  border: 1px solid var(--grayBorder);
  background-color: transparent;
  color: gray;
  font-size: 1rem;
  padding: 0.01rem 2rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: -1rem;
}

.modal-body {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.search-criteria-header,
.supplier-list-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #3f9ac9;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem 1rem;
}

.dropdown-arrow {
  font-size: 0.6rem;
}
.search-criteria-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 1px solid var(--grayBorder);
  border-right: 1px solid var(--grayBorder);
  border-bottom: 1px solid var(--grayBorder);
  overflow-x: scroll;
  padding-bottom: 1rem;
}

.search-criteria-container > :not(:nth-child(1)),
.supplier-list-container > :not(:nth-child(1)) {
  padding: 0 0.5rem;
}
.search-fields {
  display: flex;
  gap: 0.5rem;
}
.search-field input {
  width: 100%;
  padding: 0.5rem 2rem 0.5rem 0.5rem;
  border: 1px solid var(--grayBorder);
  outline: none;
  box-sizing: border-box;
}

.search-field label {
  color: var(--darkTexColor);
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 500;
}

.search-buttons {
  margin-top: 1rem;
}

.search-buttons button,
.modal-footer button {
  background: none;
  cursor: pointer;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  padding: 0.5rem;
  border: 1px solid rgb(207, 201, 201);
  width: 10rem;
}

.search-buttons :nth-child(1) {
  background-color: #265c79;
  color: white;
}

.search-field {
  display: flex;
  flex-direction: column;
}

.search-buttons {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  padding: 0.3rem 1.25rem;
  margin-left: -1.1rem;
}

.supplier-list-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-left: 1px solid var(--grayBorder);
  border-right: 1px solid var(--grayBorder);
  border-bottom: 1px solid var(--grayBorder);
  padding-bottom: 1rem;
}
.supplier-list {
  overflow-y: scroll;
}
.supplier-list table {
  width: 100%;
  border-collapse: collapse;
  border: none;
}
.supplier-list th {
  border-right: 1px solid var(--grayBorder);
}
.supplier-list th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.modal-footer {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.modal-footer :nth-child(1) {
  background-color: #f0ad4e;
  color: white;
  border: none;
  padding: 0.5rem;
  width: 10rem;
  cursor: pointer;
}

.cancel-button {
  background-color: #f0f0f0;
  border: 1px solid #ddd;
  padding: 0.5rem;
  width: 10rem;
  cursor: pointer;
}

.gear-icon-supplier {
  fill: #b9b9b9;
  height: 1rem;
  width: 1rem;
}

.select-button.disabled {
  opacity: 0.5;
  pointer-events: none;
}
