/* .main {
  display: flex;
  flex: 1;
}
.main .navbar .left {
  width: 27rem;
}
.main > .sidebar {
  width: 27rem;
}

.main > .content {
  flex: 1;
} */

.main {
  display: flex;
  flex: 1;
}

.main .navbar .left,
.main .sidebar {
  flex: 0 0 27rem; /* Initial width, can be adjusted */
}

.main > .content {
  flex: 1;
}
