* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}
:root {
  --primaryColor: #3f9ac9;
  --secondaryColor: #265c79;
  --grayBg: #e7e9ea;
  --lightGrayBg: #f9f9f9;
  --grayTexColor: #666;
  --grayBorder: #e0e0e0;
  --darkTexColor: #444444;
  --greeColor: #c0cc3a;
}
