.comment-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--grayBg);
  padding: 1rem;
  border-radius: 0.1rem;
}

.comment-section-header {
  display: flex;
  justify-content: flex-end;
}

.comment-btn {
  border: 0;
  background-color: var(--primaryColor);
  padding: 0.5rem 2.7rem;
  color: white;
  width: fit-content;
  font-size: 1rem;
  cursor: pointer;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.comment {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.1rem;
}
.comment-text,
.user {
  display: flex;
  gap: 0.3rem;
}

.user > :nth-child(1) {
  font-weight: bold;
}
.comment-text > :nth-child(1) {
  font-weight: bold;
}

.user > :nth-child(2) {
  color: var(--grayTexColor);
}
.comment-text > :nth-child(2) {
  color: var(--grayTexColor);
}

.comment-input {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.comment-input button {
  border: 0;
  background-color: #9f1924;
  padding: 0.5rem 2.7rem;
  color: white;
  width: fit-content;
  font-size: 1rem;
  cursor: pointer;
}

.comment-input textarea {
  border: 1px solid var(--grayBorder);
  padding: 1rem;
  height: 10rem;
  outline: none;
}

.comment-input textarea::placeholder {
  font-size: 1.2rem;
}
